#btn{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 250px;
    background-color: white;
    color: black;
    border-radius: 50px;
    font-size: larger;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
    

}
#date{
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 400px;
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin-top: 50px
}